<div class="find">
    <h2>Flight Database</h2>
    <!-- Search bar -->
    <div>
        <input [(ngModel)]="searchId" placeholder="Enter flight id">
        <button (click)="searchFlight()">Search</button>
    </div>
</div>
<div class="table">
    <div class="scrollable-table">

        <table>
            <thead>
                <tr>
                    <th>Flight Id</th>
                    <th>Flight Number</th>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Airplane Type</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let flight of FlightObj">
                    <td>{{ flight.id }}</td>
                    <td>{{ flight.flightNumber }}</td>
                    <td>{{ flight.departure }}</td>
                    <td>{{ flight.destination }}</td>
                    <td>{{ flight.departureTime }}</td>
                    <td>{{ flight.arrivalTime }}</td>
                    <td>{{ flight.airplaneType }}</td>
                    <td>
                        <button (click)="deleteFlight(flight.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="addFlight">

    <h2>Add Flight</h2>
    <div class="add-flight-form">
        <form (submit)="addFlight()">
            <label for="flightNumber">Flight Number:</label>
            <input id="flightNumber" name="flightNumber" [(ngModel)]="newFlight.flightNumber" type="text">

            <label for="departure">Departure:</label>
            <input id="departure" name="departure" [(ngModel)]="newFlight.departure" type="text">

            <label for="destination">Destination:</label>
            <input id="destination" name="destination" [(ngModel)]="newFlight.destination" type="text">

            <label for="departureTime">Departure Time:</label>
            <input id="departureTime" name="departureTime" [(ngModel)]="newFlight.departureTime" type="datetime-local">

            <label for="arrivalTime">Arrival Time:</label>
            <input id="arrivalTime" name="arrivalTime" [(ngModel)]="newFlight.arrivalTime" type="datetime-local">

            <label for="airplaneType">Airplane Type:</label>
            <input id="airplaneType" name="airplaneType" [(ngModel)]="newFlight.airplaneType" type="text">

            <button type="submit">Add Flight</button>
        </form>
    </div>
</div>